---
import DefaultLayout from '../../layouts/default.astro';
import menu from '../../datas/menu.json'

const {slug} = Astro.request.params
import natureDatas from "../../pagesDatas/nature.json"
import portraitDatas from "../../pagesDatas/portrait.json"
import artistiqueDatas from "../../pagesDatas/artistique.json"
let pageDatas = {}
if(slug === "nature") {
    pageDatas = natureDatas
}
if(slug === "portrait") {
    pageDatas = portraitDatas
}
if(slug === "artistique") {
    pageDatas = artistiqueDatas  
}
    // menu.map((item)=>{
    
    //     if(slug === item.name) {
    //         return pageDatas = item.name + "Datas"
    //     }
    // })


export async function getStaticPaths() {
    const pages = ["portrait","nature","artistique"]
    return pages.map((pages) => {
        return [
            {
                params: {slug: pages}
            }
        ]
    })
}
---

<!-- <DefaultLayout client:visible title={pageDatas.metas.title} description={pageDatas.metas.description} imageLink={pageDatas.metas.imageLink} twitterTitle={pageDatas.metas.twitterTitle} twitterDescription={pageDatas.metas.twitterDescription}>
    <h2 class=" text-persoBlue">{slug}</h2>
</DefaultLayout> -->