---
import menu from '../../datas/menu.json';
import PhotosLayout from '../../layouts/photosLayout.astro';


const {slug} = Astro.request.params

import { createRequire } from "node:module";
const require = createRequire(import.meta.url);
const photos = require(`../../pagesDatas/${slug}.json`);


export async function getStaticPaths() {
const pages = ["portrait","nature","artistique"]
    return menu.map((item) => {
        return [
            {
                params: {slug: item.name}
            }
        ]
    })
}


---

<PhotosLayout client:visible menu={menu} mainPhoto={photos.mainPhoto} title={photos.metas.title} description={photos.metas.description}
    imageLink={photos.metas.imageLink} twitterTitle={photos.metas.twitterTitle}
    twitterDescription={photos.metas.twitterDescription}>

    <!-- <img src={`https://res.cloudinary.com/sarah3902/image/upload/q_auto/fl_lossy${photos.photos[1].photo}`}
        alt="Sarah Leroy" class=" logo hidden" />
    <div class="masonry-grid ">
        {photos.photos.map((photo)=>{
        return <a data-fslightbox
            href={`https://res.cloudinary.com/sarah3902/image/upload/q_auto/fl_lossy${photo.photo}`}
            class="widthOfPhoto w-[47%] shadow-xl">
            <img src={`https://res.cloudinary.com/sarah3902/image/upload/q_auto/fl_lossy${photo.photo}`}
                alt={photo.title} class=" rounded-md" />
        </a>
        })}
    </div> -->
</PhotosLayout>