---
import DefaultLayout from '../layouts/default.astro';
import homeDatas from '../pagesDatas/home.json'
import menu from '../datas/menu.json'

---


<DefaultLayout client:visible title={homeDatas.metas.title} description={homeDatas.metas.description} imageLink={homeDatas.metas.imageLink} twitterTitle={homeDatas.metas.twitterTitle} twitterDescription={homeDatas.metas.twitterDescription}>
    <h2 class=" text-white bg-black">Home</h2>
    {menu.map((item)=>{
    return <a href={`/photos/${item.name}`}>{item.name}</a>
    })}
</DefaultLayout>