---
import DefaultLayout from '../layouts/default.astro';
import pageDatas from '../pagesDatas/home.json'
---


<DefaultLayout client:visible title={pageDatas.metas.title} description={pageDatas.metas.description} imageLink={pageDatas.metas.imageLink} twitterTitle={pageDatas.metas.twitterTitle} twitterDescription={pageDatas.metas.twitterDescription}>
    <h2 class=" text-white bg-black">Home</h2>
</DefaultLayout>