---
import HomeLayout from '../layouts/homeLayout.astro';
import homeDatas from '../pagesDatas/home.json'
import menu from '../datas/menu.json'
---

<HomeLayout client:visible menu={menu} title={homeDatas.metas.title} description={homeDatas.metas.description}
    imageLink={homeDatas.metas.imageLink} twitterTitle={homeDatas.metas.twitterTitle}
    twitterDescription={homeDatas.metas.twitterDescription}>

    <div class="masonry-grid ">
        {homeDatas.photos.map((photo)=>{
        return <img src={`https://res.cloudinary.com/sarah3902/image/upload/q_auto/fl_lossy${photo.photo}`}
            alt={photo.title} class=" w-[46%] shadow-xl rounded-md bg-transparent" />
        })}
    </div>
</HomeLayout>


<script src="https://unpkg.com/magic-grid/dist/magic-grid.min.js"></script>
<script>
    let masonryGrid = new MagicGrid({
        container: ".masonry-grid", // Required. Can be a class, id, or an HTMLElement.
        static: true, // Required for static content.
        gutter: 16,
    });

    masonryGrid.listen();
</script>