---
const {menu} = Astro.props;
import informationsDatas from "../datas/informationDatas.json";
const {slug} = Astro.request.params
---

<div class="flex items-start justify-between relative lg:w-full ">
  <div class="max-w-[80%] lg:max-w-full flex flex-col items-center justify-center space-y-5">
    {menu.map((item)=>{
      if(item.name === slug) {
        return <img src={`/assets/${item.iconPath}`} alt="Sarah LEROY" class=" w-full rounded-md transition-all">
    }
    })}
    <p class=" text-darkColor hidden lg:block font-bold text-3xl">{menu.map((item)=>{
      if(item.name === slug) {
        return `${item.labelOfPage}`
    }
    })}</p>
    <p class=" lg:hidden text-center text-darkColor capitalize text-lg">{slug}</p>
    
  </div>
</div>

